/* Variable */
:root {
    --color-text: #101518;
    --color-text-button: #fdfdfe;
    --color-background-button: #B7CADB;
    --grap-element: 15px;
    --height-icon: 1.5rem
}

/* Base */
* {
    box-sizing: border-box;
    line-height: 1;
    font-family: 'Roboto', sans-serif; 
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: var(--color-text);
}


/* CSS */
.page {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(216, 216, 216);
    padding: 3px;
}

.container {
    background-color: white;
    width: 793.700787px;
    height: 1122.519685px;
    padding: 40px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.header {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.header .name {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.header .position {
    text-align: center;
}
.header .contact {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header .contact .item {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .contact .item .item_icon {
    height: 1rem;
    padding-right: 5px;
}
.header .contact .item .item_content {
    font-size: 0.8rem;
}
.header .border {
    border-bottom: 1px solid black;
}

.body {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .title {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
    padding: 7px;
    font-size: 1.1rem;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    background-color: var(--color-background-button);
}
.body .part .content {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

/* SKILLS */
.body .part .content .skills {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .skills .skills_group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--grap-element);
}

.body .part .content .skills .skills_group .skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.body .part .content .skills .skills_group .skill .skill_icon {
    height: var(--height-icon);
    padding-right: 5px;
}

.body .part .content .skills .skills_group .skill .skill_content {
}

/* EXPERIENCS */
.body .part .content .experiences {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .experiences .experience {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .experiences .experience .position_time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body .part .content .experiences .experience .position_time .position {
    font-weight: bold;
}

.body .part .content .experiences .experience .position_time .time {
    
}

/* .body .part .content .experiences .experience .company {
    font-weight: bold;
} */

.body .part .content .experiences .experience .description_tasks {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .experiences .experience .description_tasks .description {
}

.body .part .content .experiences .experience .description_tasks .tasks {
    list-style: circle;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .experiences .experience .description_tasks .tasks .task{
}


/* PROJECTS */
.body .part .content .projects {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}
.body .part .content .projects .project {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .projects .project .logo_name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.body .part .content .projects .project .logo_name .logo {
    height: var(--height-icon);
    padding-right: 5px;
}

.body .part .content .projects .project .logo_name .name {
    font-weight: bolder;
}

.body .part .content .projects .project .description {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}
.body .part .content .projects .project .description .description_title {

}

.body .part .content .projects .project .description .description_functions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--grap-element);
}
.body .part .content .projects .project .description .description_functions .function {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}

.body .part .content .projects .project .description .description_functions .function .function_icon {
    height: var(--height-icon);
    padding-right: 5px;
}
.body .part .content .projects .project .description .description_functions .function .function_content {
    
}

.body .part .content .projects .project .addresses {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .projects .project .addresses .address {
    display: flex;
    flex-direction: row;
}

.body .part .content .projects .project .addresses .address  .address_title {
    margin-right: 5px;
}

.body .part .content .projects .project .addresses .address  .address_url {
    
}

.body .part .content .projects .project .techs {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .projects .project .techs .tech {
    display: flex;
    flex-direction: row;
}

.body .part .content .projects .project .techs .tech .tech_title {
    margin-right: 5px;
}
.body .part .content .projects .project .techs .tech .tech_stacks {
    
}


/* EDUCATION */
.body .part .content .educations {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}
.body .part .content .educations .education {
    display: flex;
    flex-direction: column;
    gap: var(--grap-element);
}

.body .part .content .educations .education .major_time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body .part .content .educations .education .major_time .major {
    font-weight: bold;
}

.body .part .content .educations .education .major_time .time {
   
}

.body .part .content .educations .education .school {
    font-weight: bold;
}

/* DOWNLOAD PDF */
#download_pdf {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 10px;
    border: 1px solid gainsboro;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 5px;
    cursor: pointer;
}
#download_pdf:hover {
    background-color: rgb(218, 218, 218);
}


@media (min-width: 740px) and (max-width: 800px) {
    .page {
        padding: 0;
    }
    .container {
        width: 100%;
        height: auto;
    }
    #download_pdf {
        top: 20px;
        right: 20px;
    }
}

@media (max-width: 739px) {
    :root {
        --grap-element: 12px;
        --height-icon: 1rem
    }
    * {
        font-size: 12px;
    }
    .page {
        padding: 0;
    }
    .container {
        width: 100%;
        height: auto;
        padding: 10px;
    }
    .header .contact {
        justify-content: center;
        flex-wrap: wrap;
        gap: var(--grap-element);
    }

    .body .part .content .skills .skills_group {
        flex-wrap: wrap;
    }
    
    .body .part .content .experiences .experience .position_time .position {
        line-height: 1.5;
        margin-right: 10px;
    }
    
    .body .part .content .experiences .experience .position_time .time {
        line-height: 1.5;
        white-space: nowrap; 
    }

    .body .part .content .experiences .experience .description_tasks .description {
        line-height: 1.5;
    }
    .body .part .content .experiences .experience .description_tasks .tasks {
        margin-left: 20px;
    }

    .body .part .content .projects .project .description .description_title {
        line-height: 1.5;
    }
    .body .part .content .projects .project .description .description_functions {
       flex-wrap: wrap;
    }

    .body .part .content .educations .education .major_time .major {
        line-height: 1.5;
        margin-right: 10px;
    }
    
    .body .part .content .educations .education .major_time .time {
        white-space: nowrap;
        line-height: 1.5;
    }
    
    .body .part .content .educations .education .school {
        line-height: 1.5;
        font-size: 12px;
    }
    #download_pdf {
        top: 10px;
        right: 10px;
        padding: 5px;
        font-size: 10px;
    }
}